<template>
    <input type="text" placeholder="Name Package" v-model.trim="text" @keyup="$emit('search', text)">
</template>

<script>
	export default {
		name: "f-input-search",
        data(){
			return {
				text: ''
            }
        }
	}
</script>

<style scoped lang="scss">
    input{
        display: block;
        appearance: none;
        outline: 0;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background-color: rgba(0, 0, 0, 0.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        text-align: center;
        font-size: 18px;
        color: white;
        transition-duration: 0.25s;
        font-weight: 300;
        &:hover{
            background-color: rgba(0, 0, 0, 0.4);
        }
        &:focus{
            background-color: black;
            width: 300px;
            color: white;
        }
    }
</style>