<template>
    <div class="popup" :class="{'opened': modelValue}">
        <div class="content">
        <Button class="btn-close" label="Close"  @click.prevent="$emit('update:modelValue', false)"/>
           <pre> {{ popupText }}</pre>
        </div>
    </div>
</template>

<script>
	export default {
		name: "popup",
		props: {
			modelValue: {
				type: Boolean,
				default: false
			},
			popupText: {
				type: Object,
				default: null
			}
		}
	}
</script>

<style scoped lang="scss">
    .popup{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        top: 0;
        left: 0;
        z-index: -100;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        &.opened{
            opacity: 1;
            z-index: 1000;
        }
        .content{
            position: relative;
            max-width: 750px;
            max-height: 750px;
            height: 100%;
            width: 100%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: auto;
            padding: 10px;
        }
    }
    .btn-close{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    pre{
        width: 100%;
        height: 100%;
        margin: 0;
    }
</style>