<template>
    <header>
        <f-input-search @search="search($event)"></f-input-search>
    </header>

    <main>
        <div class="row block" v-for="(item, index) in PACKAGES"
             :key="index"
             @click="packageId = index; popupOpened = true">
            <h2 class="block__title">{{item.name}}</h2>
            <p class="block__version">{{item.version}}</p>
            <p class="block__descr">{{item.description}}</p>
        </div>
        <Paginator v-show="TOTAL" :rows="10" :totalRecords="TOTAL" @page="onPage($event)"></Paginator>
    </main>

    <f-popup v-model="popupOpened" :popup-text="PACKAGES[packageId]"></f-popup>

    <footer>
        <a href="https://gitlab.com/KolinRobinson" target="_blank">gitlab</a>
        <a href="https://github.com/KolinRobinson" target="_blank">github</a>
    </footer>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import FInputSearch from "./components/f-input-search";
import FPopup from "./components/f-popup";

export default {
  name: 'App',
  components: {
    FInputSearch,
    FPopup
  },
    data(){
        return{
            searhText: '',
            packageId: 0,
            popupOpened: false
        }
    },
    methods: {
        ...mapActions([
        'GET_PACKAGES',
        'GET_PAGE'
        ]),
        search(text){
            this.searhText = text
            this.GET_PACKAGES(text)
        },
        onPage(event) {
            this.GET_PAGE(event.page)
            this.GET_PACKAGES(this.searhText)
        }
    },
    computed: {
        ...mapGetters([
            'PACKAGES',
            'TOTAL'
        ])
    }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "hd"
      "main"
      "ft";
    height: 100%;
    min-height: 100vh;
}

    .row{
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .block{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        cursor: pointer;
        &__title{
            font-size: 30px;
            font-weight: bold;
        }
        &__descr{
            font-size: 18px;
        }
        &__versions{
            font-style: italic;
            font-size: 24px;
        }
    }
    header{
        grid-area: hd;
        padding: 20px;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: ft;
        width: 100%;
        padding: 20px;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            color: white;
            text-decoration: none;
        }
    }
</style>
